<div class="container">
    <div class="card e-marchand">
        <div class="icon">
            <h2>E-MARCHAND</h2>
        </div>
        <p>Encaissez et envoyez des paiements en ligne via Mobile Money dans plus de 20 pays en Afrique. Une API avec intégration simple; vous allez adopter SpeedWallet pour sa simplicité ! Mais aussi pour ses multiples options qui répondent particulièrement à vos besoins que vous soyez entrepreneur ou PME/ME/GE.</p>
        <button>Commencer</button>
    </div>
    <div class="card prestataires-de-services">
        <div class="icon">
            
            <h2>PRESTATAIRES DE SERVICES</h2>
        </div>
        <p>Que vous soyez patron d’une école, d’un restaurant, ou si vous fournissez un service à l’abonnement. Même sans site internet, permettez à vos clients de vous payer directement à partir de leur porte monnaie électronique SpeedWallet. Devenez notre partenaire pour toucher plus de 100 000 utilisateurs actifs sur SpeedWallet.</p>
        <button>Devenez Partenaire</button>
    </div>
</div>