<!-- <div class="ecriture">
    <div class="ecri1">
         <h2>Carrefour des</h2>
        <h1>moyens de paiements</h1>
    </div>
    <div class="ecri2">
        <h2>Que ce soit pour un retrait de fonds,dépot d'argent ou un achat de services via votre
            compte SpeedWallet,quelque soit votre pays,vous avez l'embarras du chois entre des
            dizaine de moyen de paiements. Nous acceptons aussi bien  le mobile money que les 
            cartes  bancaires.
        </h2>
    </div>    
</div> -->


<div class="container">
    <div class="text-section">
        <h1>Carrefour des<br><span class="highlight">moyens de paiements</span></h1>
        <p>Que ce soit pour un retrait de fonds, dépôt d'argent ou un achat de services via votre compte SpeedWallet, quelque soit votre pays, vous avez l'embarras du choix entre des dizaines de moyen de paiements. Nous acceptons aussi bien le mobile money que les cartes bancaires.</p>
    </div>
</div><br><br><br>

<div class="logo-grid">
    <div class="logo-item"><img src="../../../assets/images/bit.webp" alt="bitcoin"></div>
    <div class="logo-item"><img src="../../../assets/images/djamo.png" alt="djamo"></div>
    <div class="logo-item"><img src="../../../assets/images/Orange_logo.svg.png" alt="orange"></div>
    <div class="logo-item"><img src="../../../assets/images/MTN.webp" alt="mtn"></div>
    <div class="logo-item"><img src="../../../assets/images/moov.png" alt="moov"></div>
    <div class="logo-item"><img src="../../../assets/images/cie.png" alt="cie"></div>
    <div class="logo-item"><img src="../../../assets/images/SODECI.jpg" alt="sodeci"></div>
    <div class="logo-item"><img src="../../../assets/images/canal +.png" alt="canalplus"></div>
    <div class="logo-item"><img src="../../../assets/images/wave.png" alt="wave"></div>
    <div class="logo-item"><img src="../../../assets/images/uba.png" alt="uba"></div>
    <div class="logo-item"><img src="../../../assets/images/mastercard.png" alt="mastercard"></div>
    <div class="logo-item"><img src="../../../assets/images/camtel.webp" alt="nexttel"></div>
    <div class="logo-item"><img src="../../../assets/images/visa.png" alt="visa"></div>
    <div class="logo-item"><img src="../../../assets/images/e-money.png" alt="e_money"></div>
    <div class="logo-item"><img src="../../../assets/images/eneo.jpg" alt="eneo"></div>
    <div class="logo-item"><img src="../../../assets/images/cinetpay.jpg" alt="cinetpay"></div>
    <div class="logo-item"><img src="../../../assets/images/freemoney.png" alt="free_money"></div>
    <div class="logo-item"><img src="../../../assets/images/ligdicash.png" alt="ligdicash"></div>
    <div class="logo-item"><img src="../../../assets/images/betclic.png" alt="betclic"></div>
    <div class="logo-item"><img src="../../../assets/images/melbet.png" alt="melbet"></div>
    <div class="logo-item"><img src="../../../assets/images/betwinner.png" alt="betwinner"></div>
    <div class="logo-item"><img src="../../../assets/images/1xbet-logo-0.png" alt="1xbet"></div>
</div><br><br><br><br><br>