<!-- START FEATURES -->
<section class="section" id="features">
    <div class="container1">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h1>Bienvenue dans le monde de nos services </h1>
                    <p class="text-muted">
                        Votre porte-monnaie SpeedWallet vous donne accès à une dizaine de services en Afrique.Abonnement
                        Canal+, Achat du crédit téléphonique, Règlement de factures lumière/eau,
                        recharge de cartes VISA prépayées, achat en ligne, Ticket de bus ...
                    </p>
                </div>
            </div>
            <!--end col-->
        </div><br><br><br>
        <!--end row-->
        <!-- begin card -->
        <!-- first-sequence-card -->
        <div class="container2">
            <!-- first card -->
            <div class="col-sm-6">
                <div class="widget-single-news1">
                    <div class="font">
                        <i class="fa-solid fa-bolt"></i>
                        <div class="mot fa">
                            <h1>INSTANTANE</h1>
                        </div>
                        <div class="text">
                            <h4>
                                Le paiement de la facture/service via SpeedWallet est quasi instané.Nous
                                garantissons
                                un temps traitement maximume de 5 minutes suivant les.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- second card -->
            <div class="col-sm-6">
                <div class="widget-single-news2">
                    <div class="font">
                        <!-- <i class="fa-solid fa-bolt"></i> -->
                        <i class="fa-sharp fa-solid fa-shapes"></i>
                        <div class="mot fa">
                            <h1>TRANSPARENCE</h1>
                        </div>
                        <div class="text">
                            <h4>
                                Votre argent est en lieu sur! Nos ingenieurs veuillent au grain.Consultez dans
                                le
                                moindre details l'historique de vos opérations. Demandez une expliquation.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div> <br><br>
        
        <div class="container2">
            <!-- first card -->
            <div class="col-sm-6">
                <div class="widget-single-news3">
                    <div class="font">
                        <!-- <i class="fa-solid fa-bolt"></i> -->
                        <i class="fa-solid fa-globe"></i>
                        <div class="mot fa">
                            <h1>ACHETER EN LIGNE</h1>
                        </div>
                        <div class="text">
                            <h4>
                              Payez en ligne en toute sécurité ! Les sites marchands qui utilisent SpeedWallet sont
                              crédibles.Nous les selectionnons avec précision et vous garantissons la livraison de
                              votre commande
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- second card -->
            <div class="col-sm-6">
                <div class="widget-single-news4">
                    <div class="font">
                        <i class="fa-solid fa-heart"></i>
                        <div class="mot fa">
                            <h1>ECONOMIQUE</h1>
                        </div>
                        <div class="text">
                            <h4>
                              Trouvez du temps pour vous et votre famille .Nous nous occupons des factures.Votre 
                              temps n'a pas de prix! Pourtant,nous vous permettons de  gagner du temps precieux.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->    
    </div>
    <!--end container-->
    <!-- card black -->
    <div class="cardblack">
        <div class="ecrigauche">
            
            <div class="ecrigauche1">
                <h1>Accédez a votre</h1>
                <h2>argent cash</h2>
                <h2>24h/24</h2><br><br>
                <h3>En cas de besoin  vous avez la liberté de retirer l'ensemble des</h3>
                <h3>fonds disponibles sur votre compte SpeedWallet sans conditions,</h3>
                <h3>ni frais</h3><br><br>
                <button class="bouton">
                    Commencer
                </button>
            </div>
            <div class="ecrigauche2">

            </div>
            <div class="ecrigauche3">
        
            </div>
        </div>
        <div class="img">
            <!-- <div class="logo-item"><img src="../../../assets/images/work-3.png" alt="bitcoin"></div> -->
            <img src="../../../assets/images/work-3.png" alt="bitcoin">
        </div>

    </div>
</section>
<!-- END FEATURES -->